@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  text-align: right;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));

  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bgHeader{
  background: rgb(255,226,164);
background: linear-gradient(29deg, rgba(255,226,164,1) 0%, rgba(27,64,209,1) 100%);
box-shadow: -4px 5px 10px 5px     rgba(255,226,164,1) ,2px -2px 10px 3px    rgb(27, 64, 209)  ;

}
.bgNav{
  background: rgb(7, 42, 180);
background: linear-gradient(30deg, rgba(255,226,164,1) 0%, rgb(7, 42, 180) 100%);

}
