.cardHover:hover {
  box-shadow: 0 0 7px 3px #abfff2 , 0 0 5px 1px  #a6faee inset ;
  background-color: #c0fff6;
  transition: all 0.25s ease-in-out;
  z-index: 10;
  transform: scale(1.01,1.01);
  background-color: #b2fff2;
}


